<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
</head>
<body >

<!-- /////////////////// fetching data /////////////    -->

        

<!--     //////////////////        Form    //////////////////////   -->
<div >
<form action="/create-contact" method="POST" style=" margin-left:40%; margin-top:10%; margin-right:35%; display:flex; ; flex-direction:column; justify-content:center; border-style:none;">
    <input type="text" style="border-style: none; border-bottom: 1px solid red; margin-bottom:30px; height:40px; width:400px; text-align:center;"  name="topic1" placeholder="Enter topic" required>
    <input type="text" style="border-style: none; border-bottom: 1px solid red; margin-bottom:30px; width:400px; height:40px; text-align:center;" name="message1" placeholder="Enter message" required>
    <button style="width: 400px; height:40px; border-style:none; border:2px solid red; background-color:none;"  type="submit">Submit msg</button>
</form>
</div>
<!--       /////////////////            Form End ///////////////////////////-->
</body>
</html>